@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>ASP.NET MVC Project by Abhishek Pandit
    1. Business Logic in EmployeeCardListController
    2. Data Access logic in EmployeeDAO.cs class
    3. Presentation in Views
    4. Connect to DB before running project</p>

<p>
   
    1. Create Employee card by create link on top
    2. Search employee by any key stroke
    3. Presentation in Views
</p>
